<!-- <div class="flex gap-4 m-6 bg-fuchsia-600" *ngIf="$time|async as time">
  <button class="px-8 py-2 bg-blue-700 text-2xl text-white rounded-md" (click)="onClick(time ==='week' ? 'day' : 'week')">{{time|titlecase}}</button>
</div> -->
<!-- <div class="h-96 w-[calc(100vw-4rem)] bg-red-400 flex items-center overflow-auto">
  <div class="h-72 aspect-[9/13] bg-green-100 m-4 rounded-xl shadow relative"  *ngFor="let movie of movie|async">
  <img src="{{imageUrl}}/{{movie.poster_path}}" class="absolute inset-0 object-cover w-full h-full">
  </div>
</div> -->


<div class=" md:w-[calc(100vw-15rem)] md:h-[calc(100vh-4rem)] w-screen h-[calc(100vh-4rem)] flex flex-col bg-gray-800 md:px-20 md:py-8 md:gap-3" *ngIf="$time|async" >

  <div class="flex-1 bg-gray-900 rounded-2xl">


  </div>

  <div class="flex-1 bg-gray-900 rounded-2xl">

  </div>

</div>
